   50  450
    1    5   18
    6   10   35     COST AS A FUNCTION OF NUMBER OF PORTS INSTALLED
   11   20   71     IF # INSTALLED BETWEEN 1ST AND 2ND # THEN COST
   21   40  141     IS EQUAL TO THIRD #.
   4199999  282
