    0    1    0
    2   25  108                \
   26   50  180                \
   51  100  272                \  IF MILAGES IS BETWEEN THE
  101  200  452                \  FIRST TWO NUMBERS THEN COST
  201  500 1024                \  IS SET TO THE THIRD NUMBER
  50199999 1304                \
