NPLI
ALL
NPLI
CRASH OCCURANCES
ALL
OCCUR
DOWN TIME, NON-LAB
NPLI GT 0 OR (REG NE ' ' AND REG NE 'L')
DNSEC
CM REGION=C (CCM), NPLI
REG EQ 'C'
NPLI
CM REGION=E (ECM), NPLI
REG EQ 'E'
NPLI
CM REGION=W (WCM), NPLI
REG EQ 'W'
NPLI
CM REGION=Y (TYMSHARE EUROPEAN MAINTENANCE), NPLI
REG EQ 'Y'
NPLI
CM REGION=P (PCM), NPLI
REG EQ 'P'
NPLI
CM REGION=T (TNSC), NPLI
REG EQ 'T'
NPLI
CM REGION=S (SLIGOS EUROPEAN MAINTENANCE), NPLI
REG EQ 'S'
NPLI
CM REGION=O (OPERATIONS), NPLI
REG EQ 'O'
NPLI
CM REGION=N (OVERSEAS MAINTENANCE), NPLI
REG EQ 'N'
NPLI
CM REGION=L (LAB), NPLI
REG EQ 'L'
NPLI
CM REGION=' ' (UNKNOWN), NPLI
REG EQ ' '
NPLI
