-----------------------------------------------------------------------------01
|                                   |
|                                   |
|                                   |
|                                   |                                        05
|                                   |
|                                   |
|                                   |
|                                   |
|   RC-IRVINE REPAIR CENTER         |   RC-IRVINE REPAIR CENTER              10
|                                   |
|                                   |
|   MCDONNELL DOUGLAS FSC           |   MCDONNELL DOUGLAS FSC
|   16452 CONSTRUCTION SO.          |   16452 CONSTRUCTION SO.
|   IRVINE, CALIFORNIA   92714      |   IRVINE, CALIFORNIA   92714           15
|                                   |
|                                   |
|   SYSTEMS PARTS                   |   SYSTEMS PARTS
|                                   |
|                                   |                                        20
----------------------------------------------------------------------------
-----------------------------------------------------------------------------
|                                   |
|                                   |
|                                   |                                        25
|                                   |
|                                   |
|                                   |
|                                   |
|                                   |                                        30
|   RC-IRVINE REPAIR CENTER         |   RC-IRVINE REPAIR CENTER
|                                   |
|                                   |
|   MCDONNELL DOUGLAS FSC           |   MCDONNELL DOUGLAS FSC
|   16452 CONSTRUCTION SO.          |   16452 CONSTRUCTION SO.               35
|   IRVINE, CALIFORNIA   92714      |   IRVINE, CALIFORNIA   92714
|                                   |
|                                   |
|   SYSTEMS PARTS                   |   SYSTEMS PARTS
|                                   |                                        40
|                                   |
----------------------------------------------------------------------------
-----------------------------------------------------------------------------
|                                   |
|                                   |                                        45
|                                   |
|                                   |
|                                   |
|                                   |
|                                   |                                        50
|                                   |
|   RC-IRVINE REPAIR CENTER         |   RC-IRVINE REPAIR CENTER
|                                   |
|                                   |
|   MCDONNELL DOUGLAS FSC           |   MCDONNELL DOUGLAS FSC                55
|   16452 CONSTRUCTION SO.          |   16452 CONSTRUCTION SO.
|   IRVINE, CALIFORNIA   92714      |   IRVINE, CALIFORNIA   92714
|                                   |
|                                   |
|   SYSTEMS PARTS                   |   SYSTEMS PARTS                        60
|                                   |
|                                   |

----------------------------------------------------------------------------
-----------------------------------------------------------------------------65
|                                   |
|                                   |
|                                   |
|                                   |
|                                   |                                        70
|                                   |
|                                   |
|                                   |
|   RC-IRVINE REPAIR CENTER         |   RC-IRVINE REPAIR CENTER
|                                   |                                        75
|                                   |
|   MCDONNELL DOUGLAS FSC           |   MCDONNELL DOUGLAS FSC
|   16452 CONSTRUCTION SO.          |   16452 CONSTRUCTION SO.
|   IRVINE, CALIFORNIA   92714      |   IRVINE, CALIFORNIA   92714
|                                   |                                        80
|                                   |
|   SYSTEMS PARTS                   |   SYSTEMS PARTS
|                                   |
|                                   |
-----------------------------------------------------------------------------85


                                                                             88
-----------------------------------------------------------------------------01
|                                   |
|                                   |
|                                   |
|                                   |                                        05
|                                   |
|                                   |
|                                   |
|                                   |
|   RC-IRVINE REPAIR CENTER         |   RC-IRVINE REPAIR CENTER              10
|                                   |
|                                   |
|   MCDONNELL DOUGLAS FSC           |   MCDONNELL DOUGLAS FSC
|   16452 CONSTRUCTION SO.          |   16452 CONSTRUCTION SO.
|   IRVINE, CALIFORNIA   92714      |   IRVINE, CALIFORNIA   92714           15
|                                   |
|                                   |
|   SYSTEMS PARTS                   |   SYSTEMS PARTS
|                                   |
|                                   |                                        20
----------------------------------------------------------------------------
-----------------------------------------------------------------------------
|                                   |
|                                   |
|                                   |                                        25
|                                   |
|                                   |
|                                   |
|                                   |
|                                   |                                        30
|   RC-IRVINE REPAIR CENTER         |   RC-IRVINE REPAIR CENTER
|                                   |
|                                   |
|   MCDONNELL DOUGLAS FSC           |   MCDONNELL DOUGLAS FSC
|   16452 CONSTRUCTION SO.          |   16452 CONSTRUCTION SO.               35
|   IRVINE, CALIFORNIA   92714      |   IRVINE, CALIFORNIA   92714
|                                   |
|                                   |
|   SYSTEMS PARTS                   |   SYSTEMS PARTS
|                                   |                                        40
|                                   |
----------------------------------------------------------------------------
-----------------------------------------------------------------------------
|                                   |
|                                   |                                        45
|                                   |
|                                   |
|                                   |
|                                   |
|                                   |                                        50
|                                   |
|   RC-IRVINE REPAIR CENTER         |   RC-IRVINE REPAIR CENTER
|                                   |
|                                   |
|   MCDONNELL DOUGLAS FSC           |   MCDONNELL DOUGLAS FSC                55
|   16452 CONSTRUCTION SO.          |   16452 CONSTRUCTION SO.
|   IRVINE, CALIFORNIA   92714      |   IRVINE, CALIFORNIA   92714
|                                   |
|                                   |
|   SYSTEMS PARTS                   |   SYSTEMS PARTS                        60
|                                   |
|                                   |

----------------------------------------------------------------------------
-----------------------------------------------------------------------------65
|                                   |
|                                   |
|                                   |
|                                   |
|                                   |                                        70
|                                   |
|                                   |
|                                   |
|   RC-IRVINE REPAIR CENTER         |   RC-IRVINE REPAIR CENTER
|                                   |                                        75
|                                   |
|   MCDONNELL DOUGLAS FSC           |   MCDONNELL DOUGLAS FSC
|   16452 CONSTRUCTION SO.          |   16452 CONSTRUCTION SO.
|   IRVINE, CALIFORNIA   92714      |   IRVINE, CALIFORNIA   92714
|                                   |                                        80
|                                   |
|   SYSTEMS PARTS                   |   SYSTEMS PARTS
|                                   |
|                                   |
-----------------------------------------------------------------------------85


                                                                             88
   